body {
  scrollbar-width: thin;
}

.blogs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  overflow-x: scroll;
  overflow-y: hidden;
  font-family: "PT Serif", serif;
}

.blog-project > p {
  display: flex;
  flex-direction: column;
  color: var(--violet);
  font-weight: lighter;
  font-size: 30px;
}

.single-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  padding: 50px;
  height: 70%;
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-weight: lighter;
  background-color: rgba(95, 122, 115, 0.15);
  color: var(--rose);
}

.single-blog div {
  width: 500px;
}

.single-blog p:hover {
    cursor: pointer;
    font-weight: bolder;
    text-decoration: underline;
}

.single-blog:hover {
  background-color: rgba(95, 122, 115, 0.05);
}

.blog-content {
  font-size: 15px;
  color: var(--violet);
  margin: 10px;
  font-family: "Inconsolata", monospace;
}

.blog-header {
    display: flex;
    flex-direction: row;
    color: var(--violet);
    align-items:baseline;
    margin-left: 30px;
}

.blog-title {
    font-family: "Inconsolata", monospace;
    font-size: 30px;
    text-decoration: underline;
}

.blog-date {
    font-size: 20px;
    margin-left: 20px;
    font-family: "Inconsolata", monospace;
}

/* width */
::-webkit-scrollbar {
  margin-top: 200px;
  height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--mint);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(156, 165, 163, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--darkmint);
}

.blog-body {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.blog-body > p {
    margin: 20px;
}

.minimize {
    float: right;
}

button {
  display: inline-block;
  border: none;
  width: fit-content;
  padding: 10px 20px;
  margin: 0;
  text-decoration: none;
  background: var(--rose);
  color: var(--mint);
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: var(--violet);
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
