/* Laptops and tablets */
@media screen and (min-width: 1000px) {
  .nav {
    background-color: var(--rose);
    margin-left: -20px;
    padding: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    width: fit-content;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 8px 0px 10px -6px var(--darkgrey);
  }

  .pic {
    width: 70%;
    border-radius: 100%;
    box-shadow: -2px 10px 10px -6px var(--darkgrey);
  }

  ul {
    padding: 10px;
    text-decoration: none;
    text-align: center;
    list-style: none;
  }

  li {
    margin-top: 10px;
  }

  .link-item {
    font-family: "Inconsolata", monospace;
    /* font-family: "PT Serif", serif; */
    font-size: 36px;
    color: var(--violet);
  }

  .link-item:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--violet);
    padding-left: 10px;
    font-weight: bold;
  }

  .link-item:active {
    text-decoration: underline;
    cursor: pointer;
    color: var(--violet);
    
  }
  .rest {
    font-size: 25px;
  }
}

/* Smart Phones */
@media screen and (max-width: 1000px) {
  .nav {
    background-color: var(--rose);
    margin-left: -20px;
    display: flex;
    flex-direction: row;
    width: 102vw;
    padding: 10px;
    height: fit-content;
    justify-content:space-around;
    align-items: center;
    /* position: relative; */
    z-index: 1;
    box-shadow: 8px 2px 10px -2px var(--darkgrey);
  }

  .pic {
    width: 10%;
    height: 10%;
    margin: 10px;
    border-radius: 100%;
    margin-left: 5%;
    box-shadow: -2px 10px 10px -6px var(--darkgrey);
  }

  ul {
    text-decoration: none;
    list-style: none;
    display: flex;
  }

  li {
    margin: 10px;
  }

  .link-item {
    font-family: "Inconsolata", monospace;
    font-size: .9em;
    color: var(--violet);
  }

  .link-item:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--violet);
  }
  .rest {
    width: 100vw;
    /* margin-left: -10px; */
    font-size: 15px;
  }
}

.rest {
  padding-top: 50px;
  overflow-y: auto;
}

.header {
  display: flex;
  flex-direction: column;
}

h1 {
  /* font-size: 80px; */
  margin-left: 40px;
  font-family: "PT Serif", serif;
  color: var(--rose);
  padding: 10px;
}

.fact {
  margin-left: 40px;
  margin-right: 40px;
  font-family: "Inconsolata", monospace;
  color: var(--rose);
  padding: 10px;
}

hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* color: var(--rose); */
  /* border: 2px solid var(--rose); */
}
