@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  --rose: #9B6A6C;
  --mint: #D7DBDA;
  --violet: #370031;
  --darkgrey: #333333;
  --darkmint: #B0BDBA;
  --lightmint: #d1e0dc;
}

html {
  /* font-family: 'Inconsolata', monospace; */
  font-family: 'PT Serif', serif;
  color: var(--rose);
  background-color: var(--mint);
}

.fill {
  background-color: var(--mint);
  height: 100vh;
}